# Confluent Cloud Configuration
export CONFLUENT_BOOTSTRAP_SERVERS=pkc-ymrq7.us-east-2.aws.confluent.cloud:9092
export CONFLUENT_API_KEY="op://Employee/Matta messages/username"
export CONFLUENT_API_SECRET="op://Employee/Matta messages/credential"
# Schema Registry Configuration
export SCHEMA_REGISTRY_URL=https://psrc-mw731.us-east-2.aws.confluent.cloud
export SCHEMA_REGISTRY_API_KEY="op://Employee/Matta messages/SR_API_KEY"
export SCHEMA_REGISTRY_API_SECRET="op://Employee/Matta messages/SR_API_SECRET"
LICENSE_EDITION="op://Employee/Shadow Traffic/LICENSE_EDITION"
LICENSE_LEASE_KEY="op://Employee/Shadow Traffic/LICENSE_LEASE_KEY"
LICENSE_LEASE_SIGNATURE="op://Employee/Shadow Traffic/LICENSE_LEASE_SIGNATURE"
LEASE_TEAM="op://Employee/Shadow Traffic/LEASE_TEAM"
LEASE_ORGANIZATION="op://Employee/Shadow Traffic/LEASE_ORGANIZATION"
LEASE_EXPIRATION="op://Employee/Shadow Traffic/LEASE_EXPIRATION"
LEASE_SIGNATURE="op://Employee/Shadow Traffic/LEASE_SIGNATURE"